{% block menusup %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-2 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Listagem</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Desempenho</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Desempenho dos alunos</h6>
      </nav>
      
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        
        <ul class="navbar-nav ms-md-auto pe-md-3 d-flex align-items-center justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a href="{{ url_for('logout') }}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none">Sair</span>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
  {% endblock %}