{% block navbar %}
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="{{ url_for('painel') }}" target="_self">
        <img src="{{ url_for('static', filename='assets/img/logo-ct.png') }}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Plataforma PEOO</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
		
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary" href="{{ url_for('painel') }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Aulas recentes</span>
          </a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link text-white " href="{{ url_for('listar_aulas') }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">list</i>
            </div>
            <span class="nav-link-text ms-1">Listar todas as aulas</span>
          </a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link text-white " href="#">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard_customize</i>
            </div>
            <span class="nav-link-text ms-1">Postar aula</span>
          </a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link text-white " href="{{ url_for('desempenho') }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Desempenho dos alunos</span>
          </a>
        </li>
		

        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Materiais</h6>
        </li>
		
		<li class="nav-item">
          <a class="nav-link text-white " href="{{ url_for('listar_materiais') }}">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">article</i>
            </div>
            <span class="nav-link-text ms-1">Listar materiais</span>
          </a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link text-white " href="#">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">note_add</i>
            </div>
            <span class="nav-link-text ms-1">Postar material</span>
          </a>
        </li>
       
      </ul>
    </div>
	
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn bg-gradient-primary mt-4 w-100" href="{{url_for('painel')}}" type="button">Bem-vindo a plataforma!</a>
      </div>
    </div>
  </aside>
  {% endblock %}