<!DOCTYPE html>
<html lang="en">

<head>
  {% include "components/head.html" %}
</head>

<body class="g-sidenav-show  bg-gray-200">
  {% include "components/navbar.html" %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

	<!-- Menu superior -->
  {% include "components/menusup.html" %}
	<hr>
    <!-- Área de conteúdo -->
    <div class="container-fluid py-4">
      <div class="row mt-4">
	  
	    <!-- Área dos cards -->
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <!-- Aqui entra o vídeo -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Título</h6>
              <p class="text-sm ">Descrição</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> Data pub. </p>
              </div>
            </div>
          </div>
        </div>
		
        <div class="col-lg-4 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <!-- Aqui entra o vídeo -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Título</h6>
              <p class="text-sm ">Descrição</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm"> Data pub. </p>
              </div>
            </div>
          </div>
        </div>
		
        <div class="col-lg-4 mt-4 mb-3">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-dark border-radius-lg py-3 pe-1">
                <div class="chart">
                  <!-- Aqui entra o vídeo -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Título</h6>
              <p class="text-sm ">Descrição</p>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">Data pub.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <!-- Scripts utilizados -->
  <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/js/plugins/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/assets/js/plugins/smooth-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>
  
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='assets/js/material-dashboard.min.js') }}"></script>
  
</body>

</html>